<style>
    .texto {
        position: absolute;
        color: rgb(13, 14, 13);
        font-size: 22px;
        background-color: rgb(136, 202, 139);
    }
</style>
<div class="container-fluid py-4">
    <div class="row mt-4">
        <div class="col-lg-7 mb-lg-0 mb-4">
            <div class="card z-index-2 h-100">
                <div class="card-header pb-0 pt-3 bg-transparent">

                    <h4>vacas</h4>

                    <br>
                    <br>
                  Las vacas destinadas a la producción de leche son hembras bovinas criadas específicamente para producir y suministrar leche a los seres humanos. Estas vacas han sido genéticamente seleccionadas y criadas para maximizar su producción de leche. Su principal función es generar grandes cantidades de leche de alta calidad para consumo humano.

Estos animales se encuentran en granjas lecheras, donde se les proporciona cuidado especializado, alimentación balanceada y entornos adecuados para garantizar su bienestar y óptima producción de leche. Las razas más comunes de vacas lecheras incluyen Holstein, Jersey, Guernsey y Ayrshire, entre otras.
                    <br>
                    <br>
                    <h5>produccion</h5>
                    La producción de leche de vaca es una parte fundamental de la industria láctea, y las vacas dedicadas a esta actividad suelen ser ordeñadas regularmente, generalmente dos o tres veces al día, dependiendo del sistema de manejo de la granja. La leche obtenida se procesa y se distribuye para consumo humano en forma de leche fresca, 
                    productos lácteos como queso, mantequilla, yogur y otros derivados lácteos.
                    <br>
                    <br>
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="card card-carousel overflow-hidden h-100 p-0">
                <div id="carouselExampleCaptions" class="carousel slide h-100" data-bs-ride="carousel">
                    <div class="carousel-inner border-radius-lg h-100">
                        <div class="carousel-item h-100 active" style="background-image: url('/assets/img/vaca1.jpg');
      background-size: cover;">
                            <div class="carousel-caption d-none d-md-block bottom-0 text-start start-0 ms-5">
                                <div class="icon icon-shape icon-sm bg-white text-center border-radius-md mb-3">
                                    <i class="ni ni-camera-compact text-dark opacity-10"></i>
                                </div>

                            </div>
                        </div>
                        <div class="carousel-item h-100" style="background-image: url('./assets/img/vaca2.jpg');
      background-size: cover;">
                            <div class="carousel-caption d-none d-md-block bottom-0 text-start start-0 ms-5">
                                <div class="icon icon-shape icon-sm bg-white text-center border-radius-md mb-3">
                                    <i class="ni ni-bulb-61 text-dark opacity-10"></i>
                                </div>



                            </div>
                        </div>
                        <div class="carousel-item h-100" style="background-image: url('./assets/img/vaca3.jpg');
      background-size: cover;">
                            <div class="carousel-caption d-none d-md-block bottom-0 text-start start-0 ms-5">
                                <div class="icon icon-shape icon-sm bg-white text-center border-radius-md mb-3">
                                    <i class="ni ni-bulb-61 text-dark opacity-10"></i>
                                </div>


                            </div>
                        </div>
                        <div class="carousel-item h-100" style="background-image: url('./assets/img/vaca4.jpg');
      background-size: cover;">
                            <div class="carousel-caption d-none d-md-block bottom-0 text-start start-0 ms-5">
                                <div class="icon icon-shape icon-sm bg-white text-center border-radius-md mb-3">
                                    <i class="ni ni-bulb-61 text-dark opacity-10"></i>
                                </div>


                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>


</div>



